literature/The_Shapley_value/The_Shapley_Value_Roth_1988.pdf filter=lfs diff=lfs merge=lfs -text
literature/Counterfactual_reasoning_in_LLMs/Counterfactual_reasoning-an_analysis_of_in-context_emergence_Miller_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/Counterfactual_reasoning_in_LLMs/LLMs_cant_jump_Zahavy_2026.pdf filter=lfs diff=lfs merge=lfs -text
literature/N-Person-Games/NotesOnNPersonGame_RM670_Shapley.pdf filter=lfs diff=lfs merge=lfs -text
literature/N-Person-Games/Notes_on_the_N-Person_Game_part_I_Characteristic-Point_Solutions_of_the_Four-Person_Game_Shapley_1951.pdf filter=lfs diff=lfs merge=lfs -text
literature/N-Person-Games/Game_Theory_in_Economics-Characteristic_Function_Core_and_Stable_Set_Shapley_1973.pdf filter=lfs diff=lfs merge=lfs -text
literature/N-Person-Games/Game_Theory_in_Economics_Chapter_1_Introduction_The_use_of_Models_R904.1_Shapley_Shibik_1971.pdf filter=lfs diff=lfs merge=lfs -text
literature/N-Person-Games/Game_Theory_in_Economics_Chapter_2_Decisionmakers_R904.2_1972.pdf filter=lfs diff=lfs merge=lfs -text
literature/N-Person-Games/Game_Theory_in_Economics_Chapter_3_The_Rules_of_the_Game_R904.3_Shapley_Shubik_1972.pdf filter=lfs diff=lfs merge=lfs -text
